<div class="upload__container">
  <div class="upload__description">
    <p *ngIf="!file">Nie wybrano pliku</p>
    <p *ngIf="file">{{ file.name }}</p>
  </div>

  <input
    #fileInput
    type="file"
    accept="image/*,.pdf"
    [hidden]="true"
    onclick="this.value = null"
    (change)="fileInputChange($event)"
  >

  <button
    class="upload__button"
    mat-raised-button
    color="primary"
    (click)="fileInput.click()"
  >
    Wybierz
  </button>

  <button
    class="upload__button"
    mat-raised-button
    color="accent"
    (click)="uploadFile()"
    [disabled]="file === undefined"
  >
    Wyślij
  </button>
</div>
