.upload__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
  padding: 0 20px;

  background-color: rgb(51, 67, 162);
  color: white;
}

.upload__description {
  flex: 1;
}
